@use "@angular/material" as mat;
@include mat.core();

// Light mode palette
$light-palette: (
    50: #f5f5f5,
    100: #e5e5e5,
    200: #d6d6d6,
    300: #c7c7c7,
    400: #b8b8b8,
    500: #a9a9a9,
    600: #9a9a9a,
    700: #8b8b8b,
    800: #7c7c7c,
    900: #6d6d6d,
    A100: #ffffff,
    A200: #f2f2f2,
    A400: #d9d9d9,
    A700: #c6c6c6,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: rgba(black, 0.87),
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    ),
);

// Dark mode palette
$dark-palette: (
    50: #f0f0f0,
    100: #d9d9d9,
    200: #bfbfbf,
    300: #a6a6a6,
    400: #8c8c8c,
    500: #737373,
    600: #595959,
    700: #404040,
    800: #262626,
    900: #0d0d0d,
    A100: #f5f5f5,
    A200: #cccccc,
    A400: #b3b3b3,
    A700: #999999,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: rgba(black, 0.87),
        A700: rgba(black, 0.87),
    ),
);

// Define a light theme
$light-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette($light-palette),
            accent: mat.define-palette($light-palette),
        ),
    )
);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: mat.define-palette($dark-palette),
            accent: mat.define-palette($dark-palette),
        ),
        // Only include `typography` and `density` in the default dark theme.
        typography: mat.define-typography-config(),
        density: 0,
    )
);

.light-mode {
    @include mat.all-component-colors($light-theme);

    .Chaos-Header {
        background-color: #eee;
    }

    .Dashboard {
        // background: radial-gradient(circle farthest-corner at 10% 20%, rgb(174, 200, 212) 0%, rgb(100, 127, 131) 90%);

        .Dashboard-Links a {
            background: #e1e1e1;
            color: black;
            border: solid 1px #444;
        }

        .Dashboard-Links a:hover,
        .Dashboard-Links a:focus,
        .Dashboard-Links a:active {
            background: #ccc !important;
            border-color: #555 !important;
            color: #333;
        }
    }

    .Header {
        background: whitesmoke;
        .Company-Name {
            color: #333;
        }
        .Top-Nav {
            .Nav_Button {
                color: #888;
                &:hover {
                    color: #444;
                }
            }
            .Active-Page {
                color: black;
            }
        }
        .Top-Login {
            img {
                filter: invert(0);
            }
            button {
                color: black;
            }
        }
    }

    .Side_Nav_Menu {
        background: whitesmoke;
        .Nav_Button {
            color: #333;
        }
        .Active-Page {
            color: black;
        }
        .Side_Nav_Menu_Border_1 {
            background-color: #333;
        }
        .Side_Nav_Menu_Border_2 {
            background-color: #333;
        }
        .Side_Nav_Menu_Dashboard {
            color: #333;
            border: solid 2px #333;
        }
        .Side_Nav_Menu_Contact {
            color: #333;
            border: solid 2px #333;
        }
    }

    label.Nav_Ham > i {
        background-color: #333;
    }

    label.Nav_Ham > i:before,
    label.Nav_Ham > i:after {
        background-color: #333;
    }

    .Top-Theme-Slider-Background {
        background: rgb(255, 255, 255, 0);
        :hover {
            background: rgb(255, 255, 255, 1);
        }
    }

    .Apps-Card {
        border: 1px solid rgba(0, 0, 0, 0.5);

        .Card-Actions {
            background: rgba(0, 0, 0, 0.9);

            h4 {
                color: white;
            }
        }

        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
            .Card-Image img {
                filter: brightness(50%);
            }
        }
    }

    .Contact-Form .Form-Input {
        input {
            opacity: 0.4;
            border: none;
            border-bottom: 1px solid black;
            &:focus {
                opacity: 1;
            }
        }
        textarea {
            opacity: 0.4;
            &:focus {
                opacity: 1;
            }
        }
    }

    .Login_Form_Box {
        h2 {
            color: #333;
        }
        h4 {
            color: #444;
        }
        .Login_Form {
            .Form_Input {
                input {
                    color: white;
                    background-color: transparent;
                    border-image: linear-gradient(to right, black 0%, black 100%) 1;
                    &:focus {
                        opacity: 1;
                    }
                }
            }
            .Form_Button button {
                color: black;
                background-color: rgb(255, 199, 110);
            }
        }
    }

    .dot-flashing {
        background-color: #333;
        color: #333;
    }

    .dot-flashing::before {
        background-color: #333;
        color: #333;
    }

    .dot-flashing::after {
        background-color: #333;
        color: #333;
    }

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .Obsidian_Nav {
        .Obsidian_Nav_Items {
            background: whitesmoke;
            .Items_Group {
                color: #222;
            }
        }
        .Obsidian_Nav_Side_Icons {
            background: whitesmoke;
            .Icons_Group {
                color: #222;
                .Icon {
                    filter: invert(0)
                }
            }
        }
    }
}

.dark-mode {
    @include mat.all-component-colors($dark-theme);

    background-color: #333;
    color: whitesmoke;

    .Chaos-Header {
        background-color: #222;
    }

    .Dashboard {
        // background: radial-gradient(circle farthest-corner at 10% 20%, rgb(112, 144, 161) 0%, rgb(24, 37, 39) 90%);

        .Dashboard-Links a {
            background: #3c3c3c;
            color: whitesmoke;
            // border: solid 2px #3C3C3C;
            border: solid 1px #999;
        }

        .Dashboard-Links a:hover,
        .Dashboard-Links a:focus,
        .Dashboard-Links a:active {
            background: #222 !important;
            border-color: #aaa !important;
            color: #ddd;
        }

        .Dashboard-Icons img {
            filter: invert(75%);
        }
    }

    .Header {
        background: rgb(33, 37, 41);
        .Company-Name {
            color: #ddd;
        }
        .Top-Nav {
            .Nav_Button {
                color: #aaa;
                &:hover {
                    color: #eee;
                }
            }
            .Active-Page {
                color: white;
            }
        }
        .Top-Login {
            img {
                filter: invert(1);
            }
            button {
                color: white;
            }
        }
    }

    .Side_Nav_Menu {
        background: rgb(33, 37, 41);
        .Nav_Button {
            color: #aaa;
        }
        .Active-Page {
            color: white;
        }
        .Side_Nav_Menu_Border_1 {
            background-color: #aaa;
        }
        .Side_Nav_Menu_Border_2 {
            background-color: #aaa;
        }
        .Side_Nav_Menu_Dashboard {
            color: #aaa;
            border: solid 2px #aaa;
        }
        .Side_Nav_Menu_Contact {
            color: #aaa;
            border: solid 2px #aaa;
        }
    }

    label.Nav_Ham > i {
        background-color: #ccc;
    }

    label.Nav_Ham > i:before,
    label.Nav_Ham > i:after {
        background-color: #ccc;
    }

    .Top-Theme-Slider-Background {
        background: rgb(0, 0, 0, 0);
        :hover {
            background: rgb(0, 0, 0, 1);
        }
    }

    .Apps-Card {
        border: 1px solid rgba(255, 255, 255, 0.5);

        .Card-Actions {
            background: rgba(201, 201, 201, 0.9);

            h4 {
                color: black;
            }
        }

        &:hover {
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
            .Card-Image img {
                filter: brightness(50%);
            }
        }
    }

    .Contact-Form .Form-Input {
        img {
            filter: invert(100%);
        }

        input {
            background-color: #222;
            color: white;
            opacity: 0.6;
            border: none;
            border-bottom: 1px solid white;
            &:focus {
                opacity: 1;
            }
        }
        textarea {
            background-color: #222;
            color: white;
            opacity: 0.6;
            &:focus {
                opacity: 1;
            }
        }
    }

    .Login_Form_Box {
        h2 {
            color: #ddd;
        }
        h4 {
            color: #ccc;
        }
        .Login_Form {
            .Form_Input {
                input {
                    color: white;
                    background-color: transparent;
                    border-image: linear-gradient(to right, white 0%, whiteblack 100%) 1;
                    &:focus {
                        opacity: 1;
                    }
                }
                input::placeholder {
                    color: white;
                }
            }
            img {
                filter: invert(1);
            }
            .Form_Button button {
                color: black;
                background-color: rgb(255, 199, 110);
            }
        }
    }

    .Alert {
        background-color: rgb(253, 179, 185);
        .Validation {
            p {
                color: black;
            }
        }
    }

    .dot-flashing {
        background-color: #ddd;
        color: #ddd;
    }

    .dot-flashing::before {
        background-color: #ddd;
        color: #ddd;
    }

    .dot-flashing::after {
        background-color: #ddd;
        color: #ddd;
    }

    ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    .Obsidian_Nav {
        .Obsidian_Nav_Items {
            background: rgb(33, 37, 41);
            .Items_Group {
                color: white;
            }
        }
        .Obsidian_Nav_Side_Icons {
            background: rgb(33, 37, 41);
            .Icons_Group {
                color: #222;
                .Icon {
                    filter: invert(1)
                }
            }
        }
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

//   @import "~bootstrap/scss/bootstrap";
//   @import "swiper/css/bundle";
